<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<div class="create-card">

  <div class="create-header">
    Create Your Review
  </div>

  <div class="create-body">

    <form class="form-body">

      <div class="row">

        <!--TITLE-->
        <label class="item-label"
               for="title">
          Title:
        </label>

        <div class="item-value">
          <input type="text"
                 class="form-control"
                 [field]="reviewForm.title"
                 id="title"
                 placeholder="Review Title (required)" />
        </div>
        @if (reviewForm.title().invalid() && reviewForm.title().touched())
        {
        <div>
          @for (error of reviewForm.title().errors(); track error.kind)
          {
          <div class="error-message">{{ error.message }}</div>
          }
        </div>
        }

        <!--GAME NAME-->
        <label class="item-label"
               for="gameName">
          Game:
        </label>

        <div class="item-value">
          <input type="text"
                 class="form-control"
                 [field]="reviewForm.gameName"
                 id="gameName"
                 placeholder="Game Name (required)" />
        </div>
        @if (reviewForm.gameName().invalid() && reviewForm.gameName().touched())
        {
        <div>
          @for (error of reviewForm.gameName().errors(); track error.kind)
          {
          <div class="error-message">{{ error.message }}</div>
          }
        </div>
        }

        <!--RATING-->
        <label class="item-label"
               for="rating">
          Rating:
        </label>

        <div class="item-value">
          <input type="number"
                 class="form-control"
                 [field]="reviewForm.rating"
                 id="rating"
                 placeholder="Rating 0-100 (required)" />
        </div>
        @if (reviewForm.rating().invalid() && reviewForm.rating().touched())
        {
        <div>
          @for (error of reviewForm.rating().errors(); track error.kind)
          {
          <div class="error-message">{{ error.message }}</div>
          }
        </div>
        }

      </div>

      <!--Editor-->
      <div class="row">

        <div class="item-value">
          <quill-editor placeholder="Enter Review"
                        [modules]="quillConfig"
                        [(ngModel)]="reviewContent"
                        [ngModelOptions]="{standalone: true}"></quill-editor>
        </div>
        @if (reviewForm.content().invalid() && reviewForm.content().touched())
        {
        <div>
          @for (error of reviewForm.content().errors(); track error.kind)
          {
          <div class="error-message">{{ error.message }}</div>
          }
        </div>
        }

      </div>


      <button type="button" (click)="submitReview()">Submit Review</button>
    </form>

  </div>
</div>
