<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<div class="create-card">

  <div class="create-header">
    Create Your Review
  </div>

  <div class="create-body">

    <form class="form-body">
      <div class="row">

        <!--TITLE-->
        <label class="item-label"
               for="title">
          Title:
        </label>

        <div class="item-value">
          <input type="text"
                 class="form-control"
                 [formField]="reviewForm.title"
                 id="title"
                 placeholder="Review Title (required)" />
        </div>
        @if (reviewForm.title().invalid() && reviewForm.title().touched())
        {
        <div>
          @for (error of reviewForm.title().errors(); track error.kind)
          {
          <div class="error-message">{{ error.message }}</div>
          }
        </div>
        }

        <!--GAME NAME-->
        <label class="item-label"
               for="gameName">
          Game:
        </label>

        <div class="search-wrapper" #searchWrapper>
          <div class="item-value">
            <input type="text"
                   class="form-control"
                   [formField]="reviewForm.gameName"
                   id="gameName"
                   placeholder="Game Name (required)"
                   (input)="searchString.set($event.target.value)"/>
            <button (click)="clearGame()">Clear Game</button>
          </div>
          <div class="search-results">
            @if (searchResults().length > 0)
            {
            <ul class="search-list">
              @for (result of searchResults(); track result.appId)
              {
              <li class="single-result" (click)="selectGame(result)">{{ result.name }}</li>
              }
            </ul>
            }
          </div>
        </div>
        @if (reviewForm.gameName().invalid() && reviewForm.gameName().touched())
        {
        <div>
          @for (error of reviewForm.gameName().errors(); track error.kind)
          {
          <div class="error-message">{{ error.message }}</div>
          }
        </div>
        }

        <!--RATING-->
        <label class="item-label"
               for="rating">
          Rating:
        </label>

        <div class="item-value">
          <input type="number"
                 class="form-control"
                 [formField]="reviewForm.rating"
                 id="rating"
                 placeholder="Rating 0-100 (required)" />
        </div>
        @if (reviewForm.rating().invalid() && reviewForm.rating().touched())
        {
        <div>
          @for (error of reviewForm.rating().errors(); track error.kind)
          {
          <div class="error-message">{{ error.message }}</div>
          }
        </div>
        }

        <button type="button" (click)="submitReview()">Submit Review</button>

      </div>

      <!--Editor-->
      <div class="row">

        <div class="item-value">

          @if (!editorReady()) {
          <div class="editor-placeholder">
            <div class="loading">
            </div>
            Loading editor...
          </div>
          }

          @if (isBrowser && quillConfig && editorReady()) {
          <quill-editor placeholder="Enter Review"
                        [modules]="quillConfig.modules"
                        [formats]="quillConfig.formats"
                        [(ngModel)]="reviewContent"
                        [ngModelOptions]="{ standalone: true }"
                        (onContentChanged)="onEditorChange($event.html)"
                        format="html">
          </quill-editor>
          }

        </div>
        @if (reviewForm.content().invalid() && reviewForm.content().touched())
        {
        <div>
          @for (error of reviewForm.content().errors(); track error.kind)
          {
          <div class="error-message">{{ error.message }}</div>
          }
        </div>
        }

      </div>

    </form>

  </div>
  <h2>Below is how your review will look once posted to the website</h2>
  <p>Keep in mind that this preview is smaller than the webpage, so images will appear larger that in this preview</p>
</div>

<div class="preview ql-editor" [innerHTML]="previewContent()"></div>
