.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(54 48 48);
  border: solid black 1px;
  border-radius: 10px;
  min-height: 300px;
  min-width: 350px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.back-button {
  cursor: pointer;
  margin: 3px;
  border-radius: 10px;
  width: 75px;
  height: 50px;
}

.close-button {
  cursor: pointer;
  margin: 3px;
  border-radius: 10px;
  width: 75px;
  height: 50px;
}

.login-header {
  margin-top: 15px;
}

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
}

.row-label {
}

.row-value {

}

.form-control {
  border-radius: 10px;
}

.show-password {
  cursor: pointer;
  border-radius: 10px;
}

.submit-btn {
  cursor: pointer;
  border-radius: 10px;
}

.recover-button {
    margin-top: 8px;
}

.sign-up button {
  margin-left: 4px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: #0066CC;
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
    color: #4a9eff;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 2s;
}

