.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(54 48 48);
  border: solid black 1px;
  border-radius: 10px;
  min-height: 300px;
  min-width: 350px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.back-button {
  cursor: pointer;
  margin: 3px;
  border-radius: 10px;
  width: 75px;
  height: 50px;
}

.close-button {
  cursor: pointer;
  margin: 3px;
  border-radius: 10px;
  width: 75px;
  height: 50px;
}

.login-header {
  margin-top: 15px;
}

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
}

.row-label {
}

.row-value {

}

.form-control {
  border-radius: 10px;
}

.show-password {
  cursor: pointer;
  border-radius: 10px;
}

.submit-btn {
  cursor: pointer;
  border-radius: 10px;
}
