.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: rgb(34,34,59);
}

.home-body {
}

footer {
  background-color: rgb(34,34,59);
}
