.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #0f0f17;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 1rem;
}

.home-body {
  min-height: 90vh;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 1rem;
}

footer {
  background-color: #0f0f17;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 1rem;
}
