.warning-card {
    background-color: rgb(54 48 48);
    border: solid black 1px;
    border-radius: 10px;
    height: fit-content;
    width: 45vh;

}

.header-text {
    text-align: center;
}

ul {
    list-style-type: "⚠️ ";
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
    animation: fade-in 2s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
    animation: fade-out 2s;
}
