<div class="warning-card"
     animate.enter="fade-in">

  <h3 class="header-text" tabindex="0">Thanks for checking out my project!</h3>

  <ul tabindex="0">

    <li>This site is a personal hobby project that is still under active development. Some features may change, and you may run into occasional bugs or issues.</li>

    <li>If something isn't working as expected, please use one of the contact links in the footer to let me know. I appreciate all feedback and bug reports.</li>

  </ul>
 
 
</div>
