.account-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(54 48 48);
  border-radius: 10px;
  min-width: 350px;
  min-height: 300px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.back-button {
  cursor: pointer;
  margin: 3px;
  border-radius: 10px;
  width: 75px;
  height: 50px;
}

.close-button {
  cursor: pointer;
  margin: 3px;
  border-radius: 10px;
  width: 75px;
  height: 50px;
}

.account-header {

}

.account-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}
