<div class="bot-bar">

  <div class="footer flex-row justify-between">

    <div class="name-role flex-col">
      <h4>John Nguyen</h4>
      <p> Junior Full-stack developer · open to opportunities</p>
    </div>

    <div class="links flex-row justify-between">
      <div class="contact flex-col">
        <h4>Contact</h4>
        <a href="mailto:johnnguy51@gmail.com">
          <div class="flex-row align-center hover">
            <span class="icon icon-lg">
              mail
            </span>
            <p>johnnguy51@gmail.com</p>
          </div>
        </a>
      </div>

      <div class="project flex-col">
        <h4>Project</h4>
        <a target="_blank" href="https://github.com/jnguyen5151/Review-Site-Cauldron-Reviews/">
          <div class="flex-row align-center hover">
            <span class="icon icon-lg">
              code
            </span>
            <p>Github Repo</p>
          </div>
        </a>
        <a target="_blank" href="https://github.com/jnguyen5151/Review-Site-Cauldron-Reviews/issues/new">
          <div class="flex-row align-center hover">
            <span class="icon icon-lg">
              bug_report
            </span>
            <p>Report a Bug</p>
          </div>
        </a>
      </div>

      <div class="more flex-col">
        <h4>More</h4>
        <a target="_blank" href="https://drive.google.com/file/d/1E5MZ4LT_3oUoyhFc2k5y2wyC3WITj3Y4/view?usp=sharing">
          <div class="flex-row align-center hover">
            <span class="icon icon-lg">
              work_history
            </span>
            <p>Resume</p>
          </div>
        </a>
      </div>
    </div>

  </div>

  <div class="under-footer">
    <h6>© 2026 John Nguyen. All rights reserved.</h6>
    <h6>Built with Angular · Hosted on Azure</h6>
  </div>

</div>
