
.topbar-button {
  margin-right: 15px;
  border-radius: 24px;
  border: none;
  background: transparent;
  background: rgb(54 48 48);
  color: white;
  height: 50%;
  cursor: pointer;
  min-width: 100px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.left-topbar{
    display: flex;
    flex: 3;
    align-items: center;
}

.center-topbar {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;

}

.right-topbar {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: flex-end;
}

.side-bar-button {
  height: 50%;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 24px;
  border: none;
  background: transparent;
  background: rgb(54 48 48);
  color: white;
}

.home-logo {
  cursor: pointer;
}

.top-bar form {
  height: 50%;
  display: flex;
  flex-grow: 1;
  border-radius: 24px;
  background: rgb(54 48 48);
}

.search-input {
  flex: 5;
  font-size: 20px;
  border: none;
  background: transparent;
  margin-left: 10px;
  color: white;
  border-right: black 1px solid;
}

input::placeholder {
  color: rgb(243 242 242);
}

input:focus::placeholder {
    opacity: 0;
}

input:focus {
    outline: none;
}

.search-button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: white;
}

.create-button {

}

.login-button {

}

.logout-button {

}

.register-button {

}

.account-button {

}
